body {
    font-family: Arial, sans-serif;
    background-color: #222; /* dunkler Hintergrund wie im Mockup */
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    background-color: #333;
    color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column; /* Änderung von 'justify-content: space-between' zu 'flex-direction: column' */
    align-items: center; /* Zentrierung der Elemente */
}

.translate-form {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto; /* Layout mit drei Zeilen statt drei Spalten */
    grid-gap: 20px; /* Platz zwischen den Zeilen */
    align-items: start; /* Zentrierung der Elemente am Anfang der Zeilen */
}

textarea {
    width: 100%; /* Volle Breite der Spalte */
    height: 200px;
    margin: 0; /* Margin auf 0 setzen */
    padding: 10px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentrierung der Steuerelemente */
    justify-content: center; /* Vertikale Ausrichtung */
}

select, button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

button {
    background-color: #0056b3;
}

button:hover {
    background-color: #003d82;
}

#translation {
    width: 100%; /* Volle Breite der Spalte */
    height: 200px;
    padding: 10px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

