body {
    font-family: Arial, sans-serif;
    background-color: #222; 
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    background-color: #333;
    color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.translate-form {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-gap: 20px; 
    align-items: start; 
}

textarea {
    width: 100%; 
    height: 200px;
    margin: 0; 
    padding: 10px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

select, button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

button {
    background-color: #0056b3;
}

button:hover {
    background-color: #003d82;
}

#translation {
    width: 100%; 
    height: 200px;
    padding: 10px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

